<div class="footer">
    <div class="logo_wrapper">
        <img src="assets/images/mvmt_logo_white.png" alt="mvmt-logo">
    </div>

    <p class="site_arr">MVMT MANAGMENT SYSTEM, ARR 2022.</p>

    <!-- <div class="footer_items">
        <div class="footer_item">
            <h4 class="item_header">Company</h4>
            <div class="item_links">
                <a>ABOUT MVMT</a>
                <a>OUR FRIENDS</a>
                <a>CAREERS</a>
            </div>
        </div>
    </div> -->
</div>