<div>
    <div class="store_header">
        <app-search></app-search>
        
        <hr>

        <ul class="store_controls">
            <li>
                <a class="svg add_new" routerLink="/Create">
                    <span>Add product</span>
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
                        <polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "/>
                    </svg>
                </a>
            </li>
            <li>
                <button class="svg" (click)="onDropdown()" #sortDropdownController>
                    <span>Sort by</span>
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.389 489.389" style="enable-background:new 0 0 489.389 489.389;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M261.294,326.102c-8.3-7.3-21.8-6.2-29.1,2.1l-77,86.8v-346.9c0-11.4-9.4-20.8-20.8-20.8s-20.8,9.4-20.8,20.8v346.9    l-77-86.8c-8.3-8.3-20.8-9.4-29.1-2.1c-8.3,8.3-9.4,20.8-2.1,29.1l113.4,126.9c8.5,10.5,23.5,8.9,30.2,0l114.4-126.9    C270.694,347.002,269.694,333.402,261.294,326.102z"/>
                                <path d="M483.994,134.702l-112.4-126.9c-10-10.1-22.5-10.7-31.2,0l-114.4,126.9c-7.3,8.3-6.2,21.8,2.1,29.1    c12.8,10.2,25.7,3.2,29.1-2.1l77-86.8v345.9c0,11.4,9.4,20.8,20.8,20.8s20.8-8.3,20.8-19.8v-346.8l77,86.8    c8.3,8.3,20.8,9.4,29.1,2.1C490.194,155.502,491.294,143.002,483.994,134.702z"/>
                            </g>
                        </g>
                    </svg>
                </button>

                <app-sort-dropdown></app-sort-dropdown>
            </li>

            <li>
                <button class="svg" (click)="onSearch()">
                    <span>Search</span>
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 487.95 487.95" style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1    c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4    c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z"/>
                            </g>
                        </g>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    
    <div class="store_content">
        <div *ngIf="!loading">
            <div class="products_wrapper">
                <a *ngFor="let product of products ; index as i" class="product" routerLink="/Product/{{product.productKey}}">
                    <div class="hidden_cover" *ngIf="product.privecy === 'hidden'">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="98.48px" height="98.481px" viewBox="0 0 98.48 98.481" style="enable-background:new 0 0 98.48 98.481;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M69.322,44.716L49.715,64.323C60.438,64.072,69.071,55.438,69.322,44.716z"/>
                                    <path d="M97.204,45.789c-0.449-0.529-6.245-7.23-15.402-13.554l-6.2,6.2c5.99,3.954,10.559,8.275,13.011,10.806    C83.235,54.795,67.7,68.969,49.241,68.969c-1.334,0-2.651-0.082-3.952-0.222l-7.439,7.438c3.639,0.91,7.449,1.451,11.391,1.451    c26.426,0,47.098-23.927,47.964-24.946C98.906,50.692,98.906,47.79,97.204,45.789z"/>
                                    <path d="M90.651,15.901c0-0.266-0.104-0.52-0.293-0.707l-7.071-7.07c-0.391-0.391-1.022-0.391-1.414,0L66.045,23.952    c-5.202-1.893-10.855-3.108-16.804-3.108c-26.427,0-47.098,23.926-47.965,24.946c-1.701,2-1.701,4.902,0.001,6.903    c0.517,0.606,8.083,9.354,19.707,16.319l-12.86,12.86c-0.188,0.188-0.293,0.441-0.293,0.707c0,0.267,0.105,0.521,0.293,0.707    l7.071,7.07c0.195,0.194,0.451,0.293,0.707,0.293c0.256,0,0.512-0.099,0.707-0.293l73.75-73.75    C90.546,16.421,90.651,16.167,90.651,15.901z M9.869,49.241C13.5,45.49,21.767,37.812,32.436,33.22    c-2.081,3.166-3.301,6.949-3.301,11.021c0,4.665,1.601,8.945,4.27,12.352l-6.124,6.123C19.129,58.196,12.89,52.361,9.869,49.241z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="product_image_wrapper">
                        <img src="{{product.imagesURL[0]}}" alt="" (mouseover)="onImageSwap($event,i)" (mouseout)="onImageRestore($event,i)">
    
                        <div class="colors_wrapper">
                            <img *ngFor="let color of product.colors ; index as i" src="{{productColors[color].image}}" alt="">
                        </div>
                    </div>
    
                    <div class="product_info_wrapper">
                        <div>
                            <h3 class="product_name">{{product.name}}</h3>
                        </div>
    
                        <div class="product_info_right">
                            <span class="product_price">{{product.price}}$</span>
                            <span class="product_target" *ngIf="product.target == 'male'">M</span>
                            <span class="product_target" *ngIf="product.target == 'female'">F</span>
                        </div>
                    </div>
                </a>
            </div>
    
            <div class="paggenation_wrapper">
                <button class="svg page_link" routerLink="/" [queryParams]="{page:previousPage}" [disabled]="previousPage < 1">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.656 49.656" style="enable-background:new 0 0 49.656 49.656;" xml:space="preserve">
                        <g>
                            <polygon points="14.535,48.242 11.707,45.414 32.292,24.828 11.707,4.242 14.535,1.414 37.949,24.828  "/>
                            <path d="M14.535,49.656l-4.242-4.242l20.585-20.586L10.293,4.242L14.535,0l24.829,24.828L14.535,49.656z    M13.121,45.414l1.414,1.414l22-22l-22-22l-1.414,1.414l20.585,20.586L13.121,45.414z"/>
                        </g>
                    </svg>
                </button>
    
                <span class="page_number" *ngIf="previousPage >= 1">{{previousPage}}</span>
                <span class="page_number current_page">{{page}}</span>
                <span class="page_number" *ngIf="nextPage <= maxPage">{{nextPage}}</span>
    
                <button class="svg page_link" routerLink="/" [queryParams]="{page:nextPage}" [disabled]="nextPage > maxPage">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.656 49.656" style="enable-background:new 0 0 49.656 49.656;" xml:space="preserve">
                        <g>
                            <polygon points="14.535,48.242 11.707,45.414 32.292,24.828 11.707,4.242 14.535,1.414 37.949,24.828  "/>
                            <path d="M14.535,49.656l-4.242-4.242l20.585-20.586L10.293,4.242L14.535,0l24.829,24.828L14.535,49.656z    M13.121,45.414l1.414,1.414l22-22l-22-22l-1.414,1.414l20.585,20.586L13.121,45.414z"/>
                        </g>
                    </svg>
                </button>
            </div>
        </div>

        <div *ngIf="loading">
            <div class="products_wrapper">
                <div class="loading_product">   
                    <div class="loading_product_image"></div>
                    <div class="loading_product_data">
                        <div class="loading_product_name"></div>
                        <div class="loading_product_data_right">
                            <div class="loading_product_price"></div>
                            <div class="loading_product_target"></div>
                        </div>
                    </div>
                </div>
    
                <div class="loading_product">   
                    <div class="loading_product_image"></div>
                    <div class="loading_product_data">
                        <div class="loading_product_name"></div>
                        <div class="loading_product_data_right">
                            <div class="loading_product_price"></div>
                            <div class="loading_product_target"></div>
                        </div>
                    </div>
                </div>
    
                <div class="loading_product">   
                    <div class="loading_product_image"></div>
                    <div class="loading_product_data">
                        <div class="loading_product_name"></div>
                        <div class="loading_product_data_right"></div>
                    </div>
                </div>
    
                <div class="loading_product">   
                    <div class="loading_product_image"></div>
                    <div class="loading_product_data">
                        <div class="loading_product_name"></div>
                        <div class="loading_product_data_right">
                            <div class="loading_product_price"></div>
                            <div class="loading_product_target"></div>
                        </div>
                    </div>
                </div>

                <div class="loading_product">   
                    <div class="loading_product_image"></div>
                    <div class="loading_product_data">
                        <div class="loading_product_name"></div>
                        <div class="loading_product_data_right">
                            <div class="loading_product_price"></div>
                            <div class="loading_product_target"></div>
                        </div>
                    </div>
                </div>

                <div class="loading_product">   
                    <div class="loading_product_image"></div>
                    <div class="loading_product_data">
                        <div class="loading_product_name"></div>
                        <div class="loading_product_data_right">
                            <div class="loading_product_price"></div>
                            <div class="loading_product_target"></div>
                        </div>
                    </div>
                </div>

                <div class="loading_product">   
                    <div class="loading_product_image"></div>
                    <div class="loading_product_data">
                        <div class="loading_product_name"></div>
                        <div class="loading_product_data_right">
                            <div class="loading_product_price"></div>
                            <div class="loading_product_target"></div>
                        </div>
                    </div>
                </div>

                <div class="loading_product">   
                    <div class="loading_product_image"></div>
                    <div class="loading_product_data">
                        <div class="loading_product_name"></div>
                        <div class="loading_product_data_right">
                            <div class="loading_product_price"></div>
                            <div class="loading_product_target"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>