.store_header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 40px auto;
}

.search_wrapper{
    background-color: var(--additional-white);
    display: flex;
    border-radius: 2px;
    padding: 8px 10px;
    width: 35%;
}

.search_wrapper input{
    border: none;
    font-family: var(--main-font);
    font-size: 16px;
    padding: 0px 12px;
    width: 100%;
}

.search_wrapper input::placeholder{
    color: var(--additional-black-light);
}

.store_controls{
    margin-bottom: 0px;
}

.store_controls li{
    display: inline-block;
    position: relative;
}

.store_controls li a,.store_controls li button{
    display: inline-flex;
    align-items: center;
    padding: 8px 10px;
    border: none;
    background-color: var(--additional-white);
    margin-left: 7px;
    text-transform: uppercase;
    border-radius: 2px;
    color: var(--additional-black);
}

.store_controls li a span,.store_controls li button span{
    margin-right: 4px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
}

.products_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: 0px auto;
}

.product{
    position: relative;
    width: 24%;
    height: 0;
    padding-bottom: 32%;
    border: 1px var(--additional-black-light) solid;
    margin-right: 1.33%;
    margin-bottom: 1%;
}

.product:nth-child(4n){
    margin-right: 0%;
}

.product_data{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 2%;
}

.product:hover{
    background-color: var(--secondery-color);
    border: 1px var(--secondery-color) solid;
}

.product:hover .product_data .product_name , .product:hover .product_data .product_info{
    color: var(--additional-white);
}

.product:hover .product_data .product_name{
    text-decoration: underline;
    text-decoration-color: var(--additional-black);
}

.product_image_wrapper{
    position: relative;
    text-align: center;
}

.product_image_wrapper img{
    width: 85%;
    object-fit: cover;
    border-radius: 50%;
}

.product_name{
    margin: 0px;
    font-family: var(--side-font);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: var(--additional-black);

}

.product_name::first-letter{
    text-transform: uppercase;
}

.colors_wrapper{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 40px;
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1);
}

.colors_wrapper img{
    display: block;
    width: 40px;
    height: 20px;
}

.product_info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--additional-black);
}

.product_info span{
    display: block;
}

.product_price,.product_target{
    width: 25%;
    text-align: center;
}

.product_price{
    display: block;
    font-family: var(--side-font);
    font-size: 21px;
    line-height: 24px;
}

.product_target{
    display: block;
    font-family: var(--side-font);
    font-size: 21px;
    text-transform: uppercase;
    line-height: 24px;
}

.hidden_cover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 390px;
    z-index: 2;
    background-color: rgb(187, 187, 187 , 0.4);
}

.hidden_cover svg{
    fill: var(--base-color);
    width: 128px;
    height: 128px;
}

.paggenation_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin: 40px auto;
}

.paggenation_wrapper .page_link:nth-child(1){
    transform: rotate(180deg);
}

.page_link{
    display: block;
    background-color: var(--additional-white);
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

.page_link svg{
    fill: var(--secondery-color);
}

.page_number{
    margin: 0px 14px;
    color: rgb(168, 168, 168);
}

.current_page{
    margin-top: 4px;
    color: black;
    font-size: 18px;
    align-self: flex-start;
}

.loading_product{
    background-color: var(--light-grey);
    margin-right: 24px;
    margin-bottom: 24px;
    opacity: 1;
    animation: fade 4s steps(2);
    animation-timing-function: ease-out; 
    animation-iteration-count: infinite;
}

.loading_product:nth-child(4n){
    margin-right: 0px;
}

.loading_product_image{
    width: 320px;
    height: 320px;
}

.loading_product_data{
    padding: 14px;
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 70px;
    background-color: #e0e0e0;
}

.loading_product_data_right{
    width: 60px;
    height: 42px;
    background-color: rgb(184, 184, 184);
}

.loading_product_name{
    width: 210px;
    height: 20px;
    background-color: rgb(184, 184, 184);
}


@keyframes fade {
    0%,100% { opacity: 1 }
    50% { opacity: 0 }
  }


@media only screen and (max-width: 1280px) {
    .product_name{
        font-size: 26px;
    }

    .product_info span{
        font-size: 14px;
    }

    .product_price,.product_target{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1042px) {
    .product_name{
        font-size: 21px;
    }

    .product_info span{
        font-size: 12px;
    }

    .product_price,.product_target{
        font-size: 14px;
    }
}

/* @media only screen and (max-width: 860px) {
    .product_name{
        font-size: 1.4vw;
    }    
} */