@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: var(--main-font);
    font-size: 16px;
}

html, body {
    min-height: 100vh;
    background-color: var(--primary-color) !important;
}

:root{
    --primary-color: #F5F5F5;
    --secondery-color: #F05454;
    --additional-white: #ffffff;
    --additional-black: #121212;
    --additional-black-light: rgb(18, 18, 18 , 0.4);

    --main-font: 'open-sans' , sans-serif;
    --side-font: 'Poppins' , sans-serif;
}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


a,button{
    color: var(--additional-black);
    cursor: pointer;
    text-transform: uppercase !important;
}

button:hover , button:focus-visible , a:hover , a:focus-visible{
    text-decoration: underline;
}

.page_content{
    padding-top: 84px;
}

.dropdown_wrapper{
    position: absolute;
    right: 0%;
    top: 100%;
    background-color: var(--additional-white);
    width: 270px;
    z-index: 10;
}

.dropdown_wrapper ul{
    list-style-type: none;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.dropdown_wrapper ul li button{
    padding: 18px 12px;
}

.pop_up_bck{
    display: block;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
}

.pop_up_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.pop_up_container > div{
    margin: 64px;
}

.svg svg{
    display: block;
    width: 24px;
    height: 24px;
    fill: var(--secondery-color);
}